.landing {
    align-items: center;
    display: flex;
    min-height: 100vh;
}
.landing h1 {
    color: #ffffff;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    max-width: 1em;
    margin-left: 12%;
    word-break: break-all;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.video {
    bottom: 0;
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.button {
    background-color: rgba(0, 0, 0, 0.200);
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 12px 35px;
    position: absolute;
    bottom: 18%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    right: 47%;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.75);

}

.button:hover {
    transform: scale(1.1);
    transition: 500ms;
    box-shadow: 4px 4px 4px 0px #bd2fc7;
    -webkit-box-shadow: 4px 4px 4px 0px #bd2fc7;
    -moz-box-shadow: 4px 4px 4px 0px #bd2fc7;
}

.button:not(:hover) {
    transition: 500ms;
}

.button:active {
    transform: scale(1);
    box-shadow: none;
    transition: 100ms;
}

.button span:last-of-type {
    color: #bd2fc7;
}